<<<<<<< HEAD

=======
.an-section {
  background-color: black;
}
>>>>>>> 9633b395e22562f340ce62efb137eced974ac92a
.an-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 120px;
}

.an-card {
  border: none;
<<<<<<< HEAD
  text-align: center;
  align-items: center;
}
.an-card:hover .an-role {
  opacity: 0;
}
.an-card:hover .an-img {
  opacity: 0.2;
}
.an-img {
  border-radius: 3%;
=======
  color: whitesmoke;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  background-color: black;
}
.an-card:hover{
  background-color: whitesmoke;
  box-shadow: 15px -15px 5px white;
  border: 2px double black;
}
.an-card:hover .an-role {
  border: 1px solid lightgray;
  border-radius: 3px;
}
.an-card:hover .an-img {
  opacity: 0.1;
  border: 50px solid lightgray;
  background-color: #33312E;
  box-shadow: -2px 2px 10px darkgray;
  border-radius: 0px;
  /* background-color: whitesmoke; */
}
.an-img {
  border-radius: 3px;
  border: 2px double black;
>>>>>>> 9633b395e22562f340ce62efb137eced974ac92a
  min-height: 250px;
  max-height: 250px;
  max-width: 100%;
  min-width: 95%;
  transition: 0.5s ease;
<<<<<<< HEAD
=======
  box-shadow: -7px 7px 10px white;
>>>>>>> 9633b395e22562f340ce62efb137eced974ac92a
}
.an-name {
  opacity: 0;
  position: relative;
  top: 0;
  right: 0;
<<<<<<< HEAD
  font-weight: 500;
  max-width: 80%;
  margin-left: 8%;
}
.an-names {
  text-align: right;
=======
  font-weight: 700;
  max-width: 80%;
  margin-left: 8%;
  align-items: baseline;
  color: black;
}
.an-names {
  text-align: right;
  align-items: flex-end;
>>>>>>> 9633b395e22562f340ce62efb137eced974ac92a
}
.an-centered {
  text-align: center;
}
<<<<<<< HEAD
=======
.an-role {
  width: 100%;
  background-color: black;
  box-shadow: -4px 4px 10px white;
  border: 1px solid black;
  border-radius: 5px;
}
>>>>>>> 9633b395e22562f340ce62efb137eced974ac92a
.an-company {
  box-shadow: -2px 2px 4px lightgrey;
  border-radius: 3px;
  padding: 0px;
  transition: transform 0.8s;
<<<<<<< HEAD
  border: 3px double white;
=======
  border: 1px double white;
>>>>>>> 9633b395e22562f340ce62efb137eced974ac92a
  min-height: 100px;
  max-height: 100px;
  min-width: 160px;
  max-width: 160px;
}
.an-col5 {
  min-height: 100px;
  max-height: 100px;
  min-width: 200px;
  max-width: 200px;
}
.an-company:hover {
  box-shadow: -8px 8px 8px lightgrey;
  border: 0px solid whitesmoke;
}
.an-card:hover .an-name {
  opacity: 1;
}
.an-spacearound {
  justify-content: space-around;
}

.an-txtshadow {
  color: white;
<<<<<<< HEAD
  font-size: 100px;
=======
>>>>>>> 9633b395e22562f340ce62efb137eced974ac92a
  text-shadow: 1px 1px 2px black, 0 0 15px gray, 0 0 5px whitesmoke;
  font-weight: 700;
  padding-top: 20px;
}

.an-text {
  color: rgb(94, 93, 93);
  text-shadow: 1px 1px 2px black, 0 0 5px darkgrey, 0 0 2px white;
<<<<<<< HEAD
  font-size: 29px;
=======
>>>>>>> 9633b395e22562f340ce62efb137eced974ac92a
  padding-top: 30px;
  text-align: center;
}

.an-slide-bottom {
  -webkit-animation: slide-bottom 1s ease-out both;
  animation: slide-bottom 1s ease-out both;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
