.red{
    color:white;
    list-style-type:none;
    text-decoration:none;
}
}
a{
    list-style-type:none;
    text-decoration:none;
}
.btn-cool:hover{
    color:white;
    list-style-type:none;    
    text-decoration:none;
}
section{
    margin:40px;
}
.center{
    align-items:center;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
  .margin{
      margin:20px;
  }
  .margin-left{
      margin-left:20px;
  }
  .margin-bottom{
      margin-bottom:20px;
  }
  .list-style{
      
    list-style-type:none;  
  }
  .align-item-right{
      margin-left: 800px;
  }
.jumbotron{
    color:white;
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-repeat: no-repeat;
    align-items:center;
    background-position: center;
    background-
}